* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;               /* Chiều rộng vùng chứa scrollbar */
}
  body::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 5px;       /* Màu nền ngoài của thanh scrollbar */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #aaa;    /* Màu của thanh cuộn (scroll thumb) */
    border-radius: 5px;       /* Bo góc scroll thumb */
  }
  body { /*cho Firefox*/
    scrollbar-width: thin;          /* "auto" hoặc "thin" */
  }
/* CSS SCROLL BAR BODY */

.input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 2px 2px 2px #ffffff,
                -2px -2px 2px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
   }
   
   .input:focus {
    outline-color: white;
   }

.cta {
    position: relative;
    margin: auto;
    margin-top: 1.5rem;
    margin-left: 2rem;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
.cta:hover {
    cursor: pointer;
}
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #12b368;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #183c96;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #c2b989;
   }
   .cta:hover:active {
    border-radius: 50px;
    /* width: 100%; */
    background: #c2b989;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

body {
    background-image: url(../images/tuyet.gif);
    background-size: cover;
}

.lock {
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    width: 30rem;
    height: 15rem;
    text-align: center;
    border-radius: 50% 50% 20% 75% / 72% 50% 50% 28% ;
    border: 2px solid black;
}


div.main_content {
    width: 70%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
}
div.main_content > img {
    margin: 4.5%;
    width: 35%;
    animation: tada 2.5s  infinite;
}

.bg {
    display: none !important;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: scroll;
    width: 105%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.bg > img {
    width: 19%;
    height: 40%;
}

div.main_content > img:hover {
    cursor: pointer;
}

.bg > img:last-child {
    display: none;
}

div.show {
    visibility: hidden;
    z-index: 5;
    position: relative;
    display: flex;
    height: 80vh;
    width: 30vw;
    margin: auto;
    margin-top: 5rem;
    border-radius: 10%;
    /* background-color: rgba(#9fa5d5,transparent #e8f5c8, 0.75); */
}
.flip-card {
    display: none;
    background-color: transparent;
    /* overflow: hidden; */
    /* width: 190px;
    height: 254px; */
    width: 30rem;
    height: 30rem;
    perspective: 1000px;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;

  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    border-radius: 1rem;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    background-color: rgb(193, 204, 207);
  }
  
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .dim {
    display: none;
  }
  .dim:active {
    background-color: #12b368;
    color: white;
  }

  .back:active {
    background-color: black;
    color: white;
  } 



  