@media only screen and (max-width: 739px) {

    .lock {
        width: 75%;
        height: 35%;
        border-radius: 66% 34% 23% 77% / 66% 67% 33% 34% ;
    }
    .lock > h3 > span {
        display: block;
    }

    .lock > input {
        margin-top: 4rem !important;
        height: 2rem;
    }
    .cta {
        margin: auto;
        margin-top: 1.5rem;
    }

    div.main_content > img {
        margin: 7.5%;
        width: 100%;
    }

    .bg > img {
        width: 32%;
        height: 15%;
    }
    .bg > img:last-child {
        display: inline-block;
    }
    .flip-card {
        width: 350px;
        height: 454px;
    }
}